# Telegram
TELEGRAM_BOT_TOKEN=8839271247:AAFHGrC0weJ8G7AAdmyNK8SMNLaBtdYq3Ks
ADMIN_CHAT_ID=851619894

# WhoisXML Domain Availability API
WHOIS_API_KEY=at_jTmoiOaXDg5LDHsFEVZheBAO88tGd
WHOIS_AVAILABILITY_URL=https://domain-availability.whoisxmlapi.com/api/v1

# Namecheap Sandbox API
NAMECHEAP_API_URL=https://api.sandbox.namecheap.com/xml.response
NAMECHEAP_API_USER=sjdkgnkdhdsdf
NAMECHEAP_API_KEY=09befbec03064b4687459aa819cb9c7a
NAMECHEAP_CLIENT_IP=31.169.53.76

GREETING_CHAT_IDS=4901149408,-4901149408
